.admin-search {
  &__title {
    margin: 20px 0;
  }
  &__vehicle,
  &__valuation {
    &-title {
      margin: 20px 0;
    }
    &-form {
      padding-bottom: 20px;
      & span {
        text-align: right;
        padding-right: 28%;
        margin: 5px 0;
        font-style: italic;
        font-family: 'Avenir Light';
      }
      &-item {
        margin: 5px 0;
      }
      &-submit {
        margin-top: 20px;
        padding: 5px 30px;
      }
    }
  }
}
