.admin-search-result {
  &-title {
    margin: 20px 0;
  }
  &__table {
    border-collapse: collapse;
    font-size: 13px;
    width: 1026px;
    text-align: center;
    margin: 0 0 20px;
    &-head,
    & tr td {
      padding: 5px 5px;
      border: 1px solid black;
      & a {
        width: 100%;
        display: block;
        padding: 3px 0 10px;
        height: 25.2px;
        border: none;
        background-color: $companyColor;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        &:hover {
          background-color: #fff;
          color: $companyColor;
          border: 1px solid $companyColor;
          transition: all 1s;
        }
      }
    }
    &-head {
      background-color: $colorText;
      color: #fff;
    }
  }
  &__csv {
    display: inline-block;
    width: 100%;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    height: 32px;
    margin-top: 17px;
    box-sizing: border-box;
    background-color: white;
    border:  1px solid $colorText;
    border-radius: 10px;
    &:hover {
      background-color: $colorText;
      color: white;
      transition: ALL 1s;
    }
  }
}
