@media screen and (max-width: 575px) {
  main {
    padding: 0 10px;
  }
  .header {
    &__text {
      font-size: 1em;
    }
  }
  .nav {
    &-item {
      font-size: 10px;
      padding: 0 7px;
      &-content {
        font-size: 12px;
        font-family: 'Avenir Light';
      }
    }
  }
  .page-nav {
    &__back,
    &__next {
      font-size: 13px;
    }
  }
  .review-vin {
    &__details {
      &-title {
        font-size: 18px;
      }
    }
  }
  .review-man {
    &__update {
      &-submit {
        padding-left: 5px;
      }
    }
    &__details {
      &-table {}
    }
  }
  .vehicle-details {
    &-descr {
      font-size: 13px;
    }
  }
  .submit {
    &-title {
      font-size: 1em;
    }
    &__customer {
      &-details {
        &-header {
          font-size: 16px;
        }
        &-name,
        &-phone,
        &-state,
        &-email {
          font-family: 'Avenir Light';
        }
        &-email {
          white-space: pre-line;
        }
      }
    }
    &__main {
      &__info {
        &-item {
          & p,
          & span {
            font-family: 'Avenir Light';
          }
        }
      }
    }
  }
}
