.nav {
  text-align: center;
  &-item {
    border-bottom: 5px solid $inactiveColor;
    flex-basis: 24.5%;
    &-content {
      font-family: 'Avenir Heavy';
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      padding: 0 1px;
      color: $inactiveColor;
    }
  }
}

.page-nav {
  &__next {
    display: inline-block;
    border: 2px solid $companyColor;
    background-image: linear-gradient(to right, rgb(229, 83, 2) 0%, rgb(243, 123, 29) 100%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Avenir Heavy';
    border-radius: 10px;
    color: #fff;
    &:hover {
      background-image: linear-gradient(to right, #e55302 0%, #e55302 100%);
      color: #fff;
      border: 2px solid #e55302;
      text-decoration: none;
      transition: all 0.3s;
    }
  }
  &__text {
    padding: 10px 5px 0;
    text-align: center;
    margin: 0 auto;
  }
  &__back {
    display: inline-block;
    border: 2px solid $companyColor;
    background-image: none;
    color: $companyColor;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Avenir Heavy';
    border-radius: 10px;
    &:hover {
      background-color: $companyColor;
      color: white;
      text-decoration: none;
      transition: all 0.3s;
    }
  }

}
