.submit,
.admin-vehicle {
  &-title {
    margin: 20px 0;
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 20px;
    }
  }
  &__main {
    &__table {
      & .col-6.p0 {
        &:last-child {
          border-left: 1px solid $inactiveColor;
          padding-left: 5px;
        }
      }
    }
    &__info {
      margin-bottom: 30px;
      &-item {
        font-family: 'Avenir Heavy';
        color: $colorText;
        margin: 15px 0;
        & span {}
        & p {}
      }
    }
  }
  &__customer {
    &-details {
      padding: 20px 5px;
      &-header {
        margin-bottom: 10px;
        font-size: 28px;
      }
      & .col-6 {
        margin-bottom: 10px;
      }
      &-name,
      &-state,
      &-phone,
      &-email {
        display: block;
        margin: 5px 0;
      }
    }
  }
}
