$companyColor_maxxima: #e55302;
$companyColor: #003D79;
$inactiveColor: #999999;
$colorText: #666666;
$nextNavColor: #66cc66;
$exitNavColor: #ff6666;
.nav div.is-active {
  border-color: $companyColor;
  & span {
    color: $companyColor;
  }
}
