---
title: Slowave
bodyClass: container por
---
extends shared/_layoutAdmin
block content

  .container.admin-search-result.p0
    .row.justify-content-start.p0.m0
      h3.admin-search-result-title.col-12.p0 Select the Variant
      .table-responsive
        table.table.admin-search-result__table
          thead
            tr
              th.admin-search-result__table-head(scope="col") Reg
              th.admin-search-result__table-head(scope="col") VIN
              th.admin-search-result__table-head(scope="col") Year / Make / Model
              th.admin-search-result__table-head(scope="col") Name
              th.admin-search-result__table-head(scope="col") Consultant
              th.admin-search-result__table-head(scope="col") Date / Time
              th.admin-search-result__table-head(scope="col") Offers
              th.admin-search-result__table-head(scope="col")
          tbody
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
            tr
              td(scope="row") ABC123
              td VF123456789012345
              td 2014 Renault Megane
              td John Smith
              td Harry Jones
              td 20/04/18 - 10:53am
              td 2
              td
                button(href="#") View Valuation
        .row.col-12.justify-content-end
          input.admin-search-result__csv.col-4.col-md-1(type="button" value="Export to .csv")
