doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
    main
      
    script(src="app/scripts/jquery-3.3.1.min.js")
    script(src="app/scripts/bootstrap.min.js")
