doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Maxxima
    link(rel="stylesheet" type="text/css" href="app/styles/bootstrap-grid.min.css")

    
  body.container 
    include includes/header
    main
      include includes/nav
      //include includes/homepage
      //include includes/review-vin
      include includes/review-man
      //include includes/vehicle-details
      //include includes/customer-details
      //include includes/submit
  
  //body.container
    .row
      include includes/admin-sidebar
      main.col-8.col-md-10
        //include includes/admin-main
        //include includes/admin-search
        //include includes/admin-search-results
        //include includes/admin-vehicle
    
    script(src="app/scripts/jquery.min.js")
    script(src="app/scripts/bootstrap.bundle.min.js")