doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Maxxima
    link(rel="stylesheet" type="text/css" href="app/styles/bootstrap-grid.min.css")

    
  body.container
    include includes/header.pug
    //include includes/admin-sidebar
    main
      include includes/nav.pug
      include includes/review-vin.pug
    
  script(src="app/scripts/jquery.min.js")
  script(src="app/scripts/bootstrap.bundle.min.js")