aside.sidebar.col-4.col-sm-2.d-none.d-sm-block
  .row.p0.m0.justify-content-center
    .p0.m0.col-12
      h2.col-12.p0.sidebar-title Valuations Administration
      a.col-12.p0.sidebar-link(href="#") Search for a Valuation
      a.col-12.p0.sidebar-link(href="#") Manage Email Addresses