.container.admin-search.p0
  .row.justify-content-start.p0.m0.col-12
    h1.admin-search-title.col-12.p0 Search for a Valuation Request
  .row.justify-content-start.p0.m0.admin-search__vehicle.col-12
    h2.admin-search__vehicle-title.col-12.p0 Search by Vehicle:
    form.admin-search__vehicle-form.col-12.col-md-7.row.justify-content-end
      div.admin-search__vehicle-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-vin") VIN (17 Digits):
        input.col-6.col-md-7#admin-search-vin(type="text" name="admin-search-vin")
      span.col-12.justify-content-end or
      div.admin-search__vehicle-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-reg") Reg text:
        input.col-6.col-md-7#admin-search-reg(type="text" name="admin-search-reg")
      input.admin-search__vehicle-form-submit(type="button" value="Search")
  .row.justify-content-start.p0.m0.admin-search__valuation.bdb.col-12
    h2.admin-search__vehicle-title.col-12.p0 Search by Valuation Date:
    form.admin-search__valuation-form.col-12.col-md-7.row.justify-content-end
      div.admin-search__valuation-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-date-from") VIN (17 Digits):
        input.col-6.col-md-7#admin-search-date-from(type="text" name="admin-search-date-from")      
      div.admin-search__valuation-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-date-to") Reg text:
        input.col-6.col-md-7#admin-search-date-to(type="text" name="admin-search-date-to")
      input.admin-search__valuation-form-submit(type="button" value="Search")
  .row.justify-content-start.p0.m0.admin-search__vehicle.bdb.col-12
    h2.admin-search__vehicle-title.col-12.p0 Search by Customer Name:
    form.admin-search__vehicle-form.col-12.col-md-7.row.justify-content-end
      div.admin-search__vehicle-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-customer-name") Name:
        input.col-6.col-md-7#admin-search-customer-name(type="text" name="admin-search-customer-date")
      span.col-12.justify-content-end or
      div.admin-search__vehicle-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-customer-email") Email Address:
        input.col-6.col-md-7#admin-search-customer-email(type="email" name="admin-search-customer-email")
      input.admin-search__vehicle-form-submit(type="button" value="Search")
  .row.justify-content-start.p0.m0.admin-search__vehicle.bdb.col-12
    h2.admin-search__vehicle-title.col-12.p0 Search by Consultant Name:
    form.admin-search__vehicle-form.col-12.col-md-7.row.justify-content-end
      div.admin-search__vehicle-form-item.col-12.p0.row
        label.col-6.col-md-5.p0(for="admin-search-consultant-name") Name:
        input.col-6.col-md-7#admin-search-consultant-name(type="text" name="admin-search-consultant-date")
      input.admin-search__vehicle-form-submit(type="button" value="Search")
  