.container.justify-content-center.col-12
  .row.justify-content-start
    .admin-main.details-info    
    h1.admin-main__manage-title.col-12.p0 Manage Email Addresses for Buyers:
    .responsive-table
      table.table.admin-search-result__table
        thead
          tr
            th.admin-search-result__table-head(scope="col") Email-address
            th.admin-search-result__table-head(scope="col") Description
            th.admin-search-result__table-head(scope="col") Time / Date Entered
            th.admin-search-result__table-head(scope="col") Delete Email Recipient
        tbody
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
          tr
            td(scope="row") buyer@buyer1.com.au
            td Wholesaler 1
            td 4:00pm 17/5/2018
            td 
              div.details-info-table__row.por 
                a.a.a__delite(href="")
    .row.col-12.admin-main__add.justify-content-center
      h2.admin-vehicle__details-subtitle.col-12 Add Email Receipient:
      form.admin-vehicle__add-offer.col-12.row(action="" method="post")
        label.admin-vehicle__add-offer-descr.col-12.col-md-4 Email Address
          input.admin-vehicle__add-offer-offer(type="email" placeholder="email@domain.com")
        label.admin-vehicle__add-offer-descr.col-12.col-md-4 Description
         input.admin-vehicle__add-offer-buyer(type="text" placeholder="Description")
        input.admin-vehicle__add-offer-submit.col-12.col-md-4(type="button" value="Add Email Recipient")
      .col-12.p0
        h3.submit__customer-details-notes Note:
        p.submit__customer-details-note The email to buyers will be sent to all current addresses above as a 'bcc' as well as tradein@mmsg.com.au