.container.justify-content-center
  .row.justify-content-center
    .details-info.row.justify-content-center.col-12
      h1.details-info-title.col-12 Selected Vehicle
      .col-6.p0
        .row.details-info__row
          span.col-4.details-info__row-arg Make:
          span.col-8.details-info__row-value Volkswagen
        .row.details-info__row
          span.col-4.details-info__row-arg Model:
          span.col-8.details-info__row-value Golf R Wolfsburg Edition AU MY16
        .row.details-info__row
          span.col-4.details-info__row-arg Body:
          span.col-8.details-info__row-value 4D Wagon
      .col-6.p0
        .row.details-info__row
          span.col-4.details-info__row-arg Engine:
          span.col-8.details-info__row-value Turbo 4 1984 cc TMPFI 
        .row.details-info__row
          span.col-4.details-info__row-arg Transmission:
          span.col-8.details-info__row-value 6 Sp Auto Direct Shift
        .row.details-info__row
          span.col-4.details-info__row-arg Build Year:
          span.col-8.details-info__row-value 2015
    .row.col-12.customer-details.justify-content-center
      h3.customer-details-title.col-12 Enter Novated Customer Details
      form.row.col-12.p0.justify-content-center
        .col-6.p0
          label.customer-details-descr Name:
            input.customer-details-number(type="text" placeholder="First Name/Last Name")
          label.customer-details-descr Suburb:
            input.customer-details-number(type="text" placeholder="Suburb")
        .col-6.p0
          label.customer-details-descr Phone Number:
            input.customer-details-reg-number(type="number")
          label.customer-details-descr State of Registration
            select.customer-details-state(name="year[]")
              option 2018
              option 2017
              option 2016
              option 2015
              option 2014
              option 2013
              option 2012
              option 2011
              option 2010
              option 2009
              option 1998
        .col-12.p0
          label.customer-details-descr Email Address:
            input.customer-details-reg-number(type="email" size="30" required placeholder="Enter Email Address")        
        h3.col-12.customer-details-title.p0 Vehicle Finance Details
        .col-6.p0
          .row.justify-content-center.m0
            label.customer-details-descr.col-12 Payout Figure
              input.customer-details-reg-number(type="number")
            label.customer-details-descr.col-12 Finance Type
              input.customer-details-reg-number(type="text" placeholder="Novated/ Operating Lease/ Car Loan")            
        .col-6.p0
          label.customer-details-descr.col-12 Payout Date
            input.customer-details-reg-number(type="date")
          label.customer-details-descr.col-12 Finance Company
              input.customer-details-reg-number(type="number")
        .col-12.p0.row.justify-content-center
          .h3.customer-details-title.col-12.p0 Consultant Details
          .col-6.p0
            label.customer-details-descr Name:
              input.customer-details-number(type="text" placeholder="First Name/Last Name")
            label.customer-details-descr Suburb:
              input.customer-details-number(type="text" placeholder="Suburb")
          .col-6.p0
            label.customer-details-descr Phone Number:
              input.customer-details-reg-number(type="number")
            label.customer-details-descr State of Registration
              select.customer-details-state(name="year[]")
                option 2018
                option 2017
                option 2016
                option 2015
                option 2014
                option 2013
                option 2012
                option 2011
                option 2010
                option 2009
                option 1998
          .col-12.p0
            label.customer-details-descr Email Address:
              input.customer-details-reg-number(type="email" size="30" required placeholder="Enter Email Address")
          .row.col-12.p0
              label.customer-details-descr.vehicle-details-descr-out.col-1(for="accessories") Notes:
              span.customer-details-descr.vehicle-details-descr-damage.col-11 if there are any further details the valuer needs to be aware of
          textarea.customer-details-damage.col-12(rows="5" id="accessories" name="accessories")
    .row.col-10.page-nav.justify-content-center
      a.page-nav__back.col-5 Back (Vehicle Details)
      span.page-nav__text.col-2 or
      a.page-nav__next.col-5 Submit for Valuation (End)