//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

header
  .container
    .row
      .col-4.col-lg-3.col-sm-4
        img.header__logo(src="./images/logo.png")
      .col-8.col-lg-9.col-sm-8
        h1.header__text Vehicle Evaluation Form