.container.search
  h1.search__title Search for the vehicle:
  .container
    .row
      form.search__vin.col-6(action="" method="post")
        h3.search__vin-title Use Vehicle VIN:
        label.search__vin-descr VIN (17 Digits):
          input.search__vin-number(type="text")
        label.search__vin-descr Build Year
          select.search__vin-year(name="year[]")
            option 2018
            option 2017
            option 2016
            option 2015
            option 2014
            option 2013
            option 2012
            option 2011
            option 2010
            option 2009
            option 1998
        input.search__submit(type="submit" value="Submit")
      form.search__man.col-6(action="" method="post")
        h3.search__man-title Use Vehicle Manually:
        label.search__man-descr Build Year:
          select.search__man-year(name="year[]")
            option 2018
            option 2017
            option 2016
            option 2015
            option 2014
            option 2013
            option 2012
            option 2011
            option 2010
            option 2009
            option 1998
        label.search__man-descr Make
          select.search__man-make(name="make[]")
            option 2018
            option 2017
            option 2016
            option 2015
            option 2014
            option 2013
            option 2012
            option 2011
            option 2010
            option 2009
            option 1998
        label.search__man-descr Model
          select.search__man-model(name="model[]")
            option 2018
            option 2017
            option 2016
            option 2015
            option 2014
            option 2013
            option 2012
            option 2011
            option 2010
            option 2009
            option 1998
        input.search__submit(type="submit" value="Submit")