nav.nav
  .container
    .row.justify-content-md-center
      .col-3.nav-item.is-active
        span.nav-item-content Select Vehicle
      .col-3.nav-item
        span.nav-item-content About the Vehicle
      .col-3.nav-item
        span.nav-item-content About the Customers
      .col-3.nav-item
        span.nav-item-content Form Submited
      