nav.nav
  .container
    .row.justify-content-between
      .col-3.col-md-3.nav-item.is-active
        span.nav-item-content Select Vehicle
      .col-3.col-md-3.nav-item
        span.nav-item-content About the Vehicle
      .col-3.col-md-3.nav-item
        span.nav-item-content About the Customer
      .col-3.col-md-3.nav-item
        span.nav-item-content Form Submitted
      