.container.justify-content-center
  .row.justify-content-center
    .submit.row.justify-content-center.col-12.p0
      .submit__head
        h2.submit-title.p0.col-12 The vehicle and customer details have been successfully submitted.
        h2.submit-title.p0.col-12.bdb The valuations team have received your request and will return a valuation shortly.
        .row.bdb.submit__customer-details.m0
          .col-6.p0
            h3.submit__customer-details-header Customer Details:
            .col-11.submit__customer-details-info
              span.submit__customer-details-name John Smith
              span.submit__customer-details-state Surry Hills, NSW
              span.submit__customer-details-phone ph. 0419 888 888
              span.submit__customer-details-email email: john.smith@company.com.au
              span.submit__customer-details-email email: john.smith@company.com.au
          .col-6.p0
            h3.submit__customer-details-header Consultant Details:
            .col-11.submit__customer-details-info
              span.submit__customer-details-name John Smith
              span.submit__customer-details-state Surry Hills, NSW
              span.submit__customer-details-phone ph. 0419 888 888
              span.submit__customer-details-email email: john.smith@company.com.au
              span.submit__customer-details-email email: john.smith</br>@company.com.au
          .col-12
            h3.submit__customer-details-notes Notes:
            p.submit__customer-details-note Customer is picking up his new car in 2 days, so would appreciate a quick turnaround on the price.
      .submit__main.details-info
        h1.details-info-title.col-12 Vehicle details
        .submit__main__table.row.m0
          .col-6.p0
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Make:
              span.col-md-8.col-12.details-info__row-value Volkswagen
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Model:
              span.col-md-8.col-12.details-info__row-value Golf R Wolfsburg Edition AU MY16
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Body:
              span.col-md-8.col-12.details-info__row-value 4D Wagon
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg VIN:
              span.col-md-8.col-12.details-info__row-value.d-none.d-md-block WVWZZZAUZGP549055
              span.col-md-8.col-12.details-info__row-value.d-block.d-md-none WVWZZZAU</br>ZGP549055
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Reg State:
              span.col-md-8.col-12.details-info__row-value New South Wales
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Odometer:
              span.col-md-8.col-12.details-info__row-value 39,456 kms
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Paint Colour:
              span.col-md-8.col-12.details-info__row-value White
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Service Books:
              span.col-md-8.col-12.details-info__row-value Yes        
          .col-6.p0
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Engine:
              span.col-md-8.col-sm-12.details-info__row-value Turbo 4 1984 cc TMPFI 
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Transmission:
              span.col-md-8.col-sm-12.details-info__row-value 6 Sp Auto Direct Shift
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Build Year:
              span.col-md-8.col-sm-12.details-info__row-value 2015
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Reg Number:
              span.col-md-8.col-sm-12.details-info__row-value DBT09A
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Reg Expiry:
              span.col-md-8.col-sm-12.details-info__row-value 09/2018
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Compliance:
              span.col-md-8.col-sm-12.details-info__row-value 12/2015
            .row.details-info__row
              span.col-md-5.col-lg-4.col-12.details-info__row-arg Interior Trim / Colour:
              span.col-md-7.col-lg-8.col-sm-12.details-info__row-value Leather / Black
            .row.details-info__row
              span.col-md-4.col-12.details-info__row-arg Service History:
              span.col-md-8.col-sm-12.details-info__row-value Full Franchise
        .submit__main__info
          .col-12.p0.submit__main__info-item
            span Options and/or Accessories:
            p Optioned with genuine VW 19" alloy wheels and has VW "R" Floor Mats
          .col-12.p0.submit__main__info-item
            span Previous Accident Damage:
            p Yes
          .col-12.p0.submit__main__info-item
            span General Condition:
            p Previous accident damage where front bar was scraped in a car park has been fully repaired.  Otherwise car is in showroom condition with no gutter rash on rims and 4 brand new Michelin Pilot Sport tyres.
        .row.col-12.page-nav.justify-content-center
          a.page-nav__next.col-5.col-md-3(href="#") New Value Request
        
        