.container.justify-content-center
  .row.justify-content-center
    .details-info.row.justify-content-center.col-12
      h1.details-info-title.col-12 Selected Vehicle
      .col-6.p0
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Make:
          span.col-12.col-md-8.details-info__row-value Volkswagen
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Model:
          span.col-12.col-md-8.details-info__row-value Golf R Wolfsburg Edition AU MY16
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Body:
          span.col-12.col-md-8.details-info__row-value 4D Wagon
      .col-6.p0
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Engine:
          span.col-12.col-md-8.details-info__row-value Turbo 4 1984 cc TMPFI 
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Transmission:
          span.col-12.col-md-8.details-info__row-value 6 Sp Auto Direct Shift
        .row.details-info__row
          span.col-12.col-md-4.details-info__row-arg Build Year:
          span.col-12.col-md-8.details-info__row-value 2015
    .row.col-12.vehicle-details.justify-content-center
      h3.vehicle-details-title.col-12 Enter Vehicle Details
      form.row.col-12.p0.justify-content-center
        .col-6.p0
          label.vehicle-details-descr VIN (17 Digits):
            input.vehicle-details-number(type="text")
          label.vehicle-details-descr State of Registration
            select.vehicle-details-state(name="year[]")
              option 2018
              option 2017
              option 2016
              option 2015
              option 2014
              option 2013
              option 2012
              option 2011
              option 2010
              option 2009
              option 1998
          label.vehicle-details-descr Odometr
            input.vehicle-details-odometr(type="number")
        .col-6.p0
          label.vehicle-details-descr Registration Number:
            input.vehicle-details-reg-number(type="text")
          label.vehicle-details-descr Registration Expiry:
            input.vehicle-details-reg-exp(type="date" value="2018-07-22" min="2018-01-01" max="2018-12-31")
          label.vehicle-details-descr Compliance Date:
            input.vehicle-details-compliance(type="date")
        .col-6.p0
          .row.justify-content-center.m0
            label.vehicle-details-descr.col-12 Paint Colour:
              input.vehicle-details-reg-number(type="text")
            span.vehicle-details-descr.vehicle-details-descr-out.col-12 Service Books
            .row.vehicle-details-book.col-12
              .col-6.vehicle-details-book-item
                input#service-book-yes(type="radio" name="service-book" value="yes")
                label(for="service-book-yes") Yes
              .col-6.vehicle-details-book-item
                input#service-book-no(type="radio" name="service-book" value="no")
                label(for="service-book-no") No
        .col-6.p0
          .row.m0.justify-content-center
            label.vehicle-details-descr.col-12 Interior Trim / Colour:
              input.vehicle-details-reg-number(type="text")
            span.vehicle-details-descr.vehicle-details-descr-out.col-12 Service History
            .row.vehicle-details-history.col-12
              .col-6.vehicle-details-history-item
                input#service-history-ff(type="radio" name="service-book" value="yes")
                label(for="service-history-ff") Full Franchise
              .col-6.vehicle-details-history-item
                input#service-book-part(type="radio" name="service-book" value="no")
                label(for="service-book-part") Part
              .col-6.vehicle-details-history-item
                input#service-book-full(type="radio" name="service-book" value="yes")
                label(for="service-book-full") Full
              .col-6.vehicle-details-history-item
                input#service-book-none(type="radio" name="service-book" value="no")
                label(for="service-book-none") None              
        .col-12.p0
          .row.m0.justify-content-center
            label.vehicle-details-descr.col-12 Options and/or Accessories:
              textarea.vehicle-details-accessories.col-12(rows="5" id="accessories" name="accessories")
            .row.col-12.p0.justify-content-center
              .row.col-6.p0.justify-content-center
                span.vehicle-details-descr.col-12 Previous Accident Damage:
                .row.vehicle-details-damage.col-12
                  .col-6.vehicle-details-damage-item
                    input#service-book-yes(type="radio" name="damage" value="yes")
                    label(for="damage-yes") Yes
                  .col-6.vehicle-details-damage-item
                    input#service-book-no(type="radio" name="service-book" value="no")
                    label(for="damage-no") No
              .row.vehicle-details-descr.col-6.vehicle-details-damage-descr
                span.col-12.p0 If Yes, please detail any damage in the Condition box below...
            .row.col-12.p0
              label.vehicle-details-descr.vehicle-details-descr-out.col-3.col-md-2(for="accessories") General Condition:
              span.vehicle-details-descr.vehicle-details-descr-damage.col-9.col-md-10 ie. Dents, Hail Damage, Body Scratches, Interior Damage, Tyre Depths, Previous Accident History
            textarea.vehicle-details-damage.col-12(rows="5" id="accessories" name="accessories")
            
    .row.col-10.page-nav.justify-content-center
      a.page-nav__back.col-5 Select my vehicle again (start over)
      span.page-nav__text.col-2 or
      a.page-nav__next.col-5 Submit for Valuation (End)